<header class="fixed-top">
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 py-2">
                    <h4 class="text-white">Filters</h4>
                    <div class="list-group d-flex flex-row flex-wrap text-white">
                        <span class="w-50"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Venue Finder</strong>
            </a>

            <form class="form-inline my-2 my-lg-0 d-inline w-75" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                <div class="input-group">
                    <span class="input-group-prepend">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="material-icons">filter_list</i>
                        </button>
                    </span>
                    <input type="text" class="form-control" placeholder="Search by city or address..." name="q" ngModel>
                    <span class="input-group-append">
                        <button class="btn btn-secondary" type="button">
                            <i class="material-icons">search</i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</header>
