/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

html, body {
     margin: 0;
     background: #F2F2F2;
     font-family: 'Lato', sans-serif;
     height: 100vh;
}

.container-fluid {
    height: 100%;

    .google-maps {
        // I am so sorry for this !important, but google is putting the position: relative on it :/ not my fault
        position: fixed!important;
        height: 100%;
        width: 99%;
    }
}
